.Footer-container{
  height: 5vh;
  border-top: 5px solid #4E5283;
}

.Footer-links-container {
    margin-left: 45%;
}

.Footer-links{
  height: 3%;
  margin: .5%;
  color: #262626;
  /* padding: 3%; */
}
